In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
import os

#### Importing relevant libraries and setting up directory structure to open and export files more readily.

In [3]:
TOP = os.getcwd().replace('notebooks', '')
raw_dir = TOP + 'data/raw/'
processed_dir = TOP + 'data/processed/'
interim_dir = TOP + 'data/interim/'
external_dir = TOP + 'data/external/'
figures_dir = TOP + 'reports/figures/'

#### Processing predictions from the TEST software

In [5]:
TEST_1 = pd.read_csv(processed_dir+ 'TSCA_1_out.csv')

In [6]:
TEST_2 = pd.read_csv(processed_dir+ 'TSCA_2_out.csv')

In [7]:
TEST_1.set_index('ID', inplace = True)
TEST_2.set_index('ID', inplace = True)

In [8]:
df_test = pd.concat([TEST_1, TEST_2], axis = 0)

In [9]:
df_test.columns

Index(['Index', 'Query', 'SmilesRan', 'Error', 'Exp_Value', 'Pred_Value',
       'Exp_Result', 'Pred_Result'],
      dtype='object')

In [10]:
df_test.Error.unique()

array([nan, 'Multiple molecules', 'FindPaths',
       'Molecule contains unsupported element',
       'Molecule does not contain carbon', 'Only one nonhydrogen atom',
       'FindRings'], dtype=object)

In [11]:
df_test['TEST_prediction'] = df_test.apply(lambda x : 1 if x['Pred_Value'] >=0.5 else (np.nan if x['Error'] in ['Multiple molecules', 'FindPaths',
       'Molecule contains unsupported element',
       'Molecule does not contain carbon', 'Only one nonhydrogen atom',
       'FindRings'] else 0), axis = 1)

In [12]:
df_test.TEST_prediction.value_counts(dropna = False)

0.0    10526
NaN     6941
1.0     2156
Name: TEST_prediction, dtype: int64

In [11]:
df_test[~df_test['Error'].isnull()].to_csv(processed_dir+'TEST_errors.csv')

In [12]:
test_missing_1 = pd.read_excel('TEST_missing_1.xlsx')

In [13]:
test_missing_2 = pd.read_excel('TEST_missing_2.xlsx')

In [14]:
test_missing_1.shape

(4998, 7)

In [15]:
test_missing_2.shape

(1943, 6)

In [16]:
test_missing_1.set_index('INPUT', inplace = True)
test_missing_2.set_index('INPUT', inplace = True)

test_missing = pd.concat([test_missing_1, test_missing_2], axis = 0)

/home/gpatlewi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:4: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  after removing the cwd from sys.path.

In [17]:
test_missing.shape

(6941, 6)

In [30]:
test_missing.to_csv(processed_dir'TEST_errors_smi.csv')

In [18]:
test_missing.shape

(6941, 6)

In [19]:
test_missing_smi = pd.read_csv(processed_dir+'TEST_missing_new.csv')

In [20]:
test_missing_smi.head()

           INPUT                   QSAR_READY_SMILES
0  DTXSID5020075             NC1=CC=C(C=C1)N(CCO)CCO
1  DTXSID5020079          OC(=O)CC(O)(CC(O)=O)C(O)=O
2  DTXSID3020091                        NC1=CC=CC=C1
3  DTXSID3020093                    COC1=CC=C(N)C=C1
4  DTXSID3020095  O=C1C2=C(C=CC=C2)C(=O)C2=C1C=CC=C2

In [21]:
df_test.head()

,Index,Query,SmilesRan,Error,Exp_Value,Pred_Value,Exp_Result,Pred_Result,TEST_prediction
ID,,,,,,,,,
DTXSID2020004,1,DTXSID2020004,ON=CC,NaN,1.0,0.70,Mutagenicity Positive,Mutagenicity Positive,1.0
DTXSID7020005,2,DTXSID7020005,O=C(N)C,NaN,0.0,-0.04,Mutagenicity Negative,Mutagenicity Negative,0.0
DTXSID2020006,3,DTXSID2020006,O=C(NC1=CC=C(O)C=C1)C,NaN,0.0,0.28,Mutagenicity Negative,Mutagenicity Negative,0.0
DTXSID7020009,4,DTXSID7020009,N#CC,NaN,0.0,0.04,Mutagenicity Negative,Mutagenicity Negative,0.0
DTXSID6020010,5,DTXSID6020010,ON=C(C)C,NaN,NaN,0.44,NaN,Mutagenicity Negative,0.0

In [13]:
import glob

In [17]:
test_redone = glob.glob(processed_dir+'TEST_errors_out*.csv')

In [18]:
test_redone.sort()

In [20]:
test_redone

['/home/grace/Documents/python/genetox_tsca/data/processed/TEST_errors_out1.csv',
 '/home/grace/Documents/python/genetox_tsca/data/processed/TEST_errors_out2.csv',
 '/home/grace/Documents/python/genetox_tsca/data/processed/TEST_errors_out3.csv',
 '/home/grace/Documents/python/genetox_tsca/data/processed/TEST_errors_out4.csv',
 '/home/grace/Documents/python/genetox_tsca/data/processed/TEST_errors_out5.csv',
 '/home/grace/Documents/python/genetox_tsca/data/processed/TEST_errors_out6.csv',
 '/home/grace/Documents/python/genetox_tsca/data/processed/TEST_errors_out7.csv',
 '/home/grace/Documents/python/genetox_tsca/data/processed/TEST_errors_out8.csv',
 '/home/grace/Documents/python/genetox_tsca/data/processed/TEST_errors_out9.csv']

In [21]:
all_data = pd.DataFrame()
for f in test_redone:
    df = pd.read_csv(f)
    all_data = all_data.append(df, ignore_index = True)

In [22]:
all_data.head()

,Index,ID,Query,SmilesRan,Error,Exp_Value,Pred_Value,Exp_Result,Pred_Result
0,1,7575-35-1,7575-35-1,OCCN(C1=CC=C(N)C=C1)CCO,NaN,NaN,0.24,NaN,Mutagenicity Negative
1,2,77-92-9,77-92-9,O=C(O)CC(O)(C(=O)O)CC(=O)O,NaN,0.0,0.21,Mutagenicity Negative,Mutagenicity Negative
2,3,62-53-3,62-53-3,NC=1C=CC=CC1,NaN,NaN,0.36,NaN,Mutagenicity Negative
3,4,104-94-9,104-94-9,O(C1=CC=C(N)C=C1)C,NaN,1.0,0.62,Mutagenicity Positive,Mutagenicity Positive
4,5,84-65-1,84-65-1,O=C1C=2C=CC=CC2C(=O)C=3C=CC=CC13,NaN,1.0,0.71,Mutagenicity Positive,Mutagenicity Positive

In [102]:
#pd.read_csv('TEST_errors_out1.csv').head()

In [29]:
test_redone_df = pd.concat([test_missing_smi, all_data], axis = 1)

In [30]:
test_redone_df.head()

,INPUT,QSAR_READY_SMILES,Index,ID,Query,SmilesRan,Error,Exp_Value,Pred_Value,Exp_Result,Pred_Result
0,DTXSID5020075,NC1=CC=C(C=C1)N(CCO)CCO,1,7575-35-1,7575-35-1,OCCN(C1=CC=C(N)C=C1)CCO,NaN,NaN,0.24,NaN,Mutagenicity Negative
1,DTXSID5020079,OC(=O)CC(O)(CC(O)=O)C(O)=O,2,77-92-9,77-92-9,O=C(O)CC(O)(C(=O)O)CC(=O)O,NaN,0.0,0.21,Mutagenicity Negative,Mutagenicity Negative
2,DTXSID3020091,NC1=CC=CC=C1,3,62-53-3,62-53-3,NC=1C=CC=CC1,NaN,NaN,0.36,NaN,Mutagenicity Negative
3,DTXSID3020093,COC1=CC=C(N)C=C1,4,104-94-9,104-94-9,O(C1=CC=C(N)C=C1)C,NaN,1.0,0.62,Mutagenicity Positive,Mutagenicity Positive
4,DTXSID3020095,O=C1C2=C(C=CC=C2)C(=O)C2=C1C=CC=C2,5,84-65-1,84-65-1,O=C1C=2C=CC=CC2C(=O)C=3C=CC=CC13,NaN,1.0,0.71,Mutagenicity Positive,Mutagenicity Positive

In [31]:
test_redone_df['Error'].unique()

array([nan, 'FindPaths', 'Molecule contains unsupported element',
       'Only one nonhydrogen atom', 'FindRings'], dtype=object)

In [32]:
test_redone_df['TEST_prediction'] = test_redone_df.apply(lambda x : 1 if x['Pred_Value'] >=0.5 else (np.nan if x['Error'] in ['Multiple molecules', 'FindPaths',
       'Molecule contains unsupported element',
       'Molecule does not contain carbon', 'Only one nonhydrogen atom',
       'FindRings'] else 0), axis = 1)

In [33]:
test_redone_df.head()

,INPUT,QSAR_READY_SMILES,Index,ID,Query,SmilesRan,Error,Exp_Value,Pred_Value,Exp_Result,Pred_Result,TEST_prediction
0,DTXSID5020075,NC1=CC=C(C=C1)N(CCO)CCO,1,7575-35-1,7575-35-1,OCCN(C1=CC=C(N)C=C1)CCO,NaN,NaN,0.24,NaN,Mutagenicity Negative,0.0
1,DTXSID5020079,OC(=O)CC(O)(CC(O)=O)C(O)=O,2,77-92-9,77-92-9,O=C(O)CC(O)(C(=O)O)CC(=O)O,NaN,0.0,0.21,Mutagenicity Negative,Mutagenicity Negative,0.0
2,DTXSID3020091,NC1=CC=CC=C1,3,62-53-3,62-53-3,NC=1C=CC=CC1,NaN,NaN,0.36,NaN,Mutagenicity Negative,0.0
3,DTXSID3020093,COC1=CC=C(N)C=C1,4,104-94-9,104-94-9,O(C1=CC=C(N)C=C1)C,NaN,1.0,0.62,Mutagenicity Positive,Mutagenicity Positive,1.0
4,DTXSID3020095,O=C1C2=C(C=CC=C2)C(=O)C2=C1C=CC=C2,5,84-65-1,84-65-1,O=C1C=2C=CC=CC2C(=O)C=3C=CC=CC13,NaN,1.0,0.71,Mutagenicity Positive,Mutagenicity Positive,1.0

In [34]:
test_redone_df.columns

Index(['INPUT', 'QSAR_READY_SMILES', 'Index', 'ID', 'Query', 'SmilesRan',
       'Error', 'Exp_Value', 'Pred_Value', 'Exp_Result', 'Pred_Result',
       'TEST_prediction'],
      dtype='object')

In [35]:
test_redone_df.set_index('INPUT', inplace = True)

In [36]:
test_redone_df2 = test_redone_df[['TEST_prediction']]

In [37]:
test_redone_df2.head()

               TEST_prediction
INPUT
DTXSID5020075              0.0
DTXSID5020079              0.0
DTXSID3020091              0.0
DTXSID3020093              1.0
DTXSID3020095              1.0

In [38]:
df_test2 = df_test[['TEST_prediction']]

In [39]:
df_test2.head()
df_test2[df_test2.index == 'DTXSID5020075']

               TEST_prediction
ID
DTXSID5020075              NaN

In [40]:
all_test = pd.concat([df_test2, test_redone_df2], axis = 0)

In [41]:
all_test_df = all_test.reset_index().drop_duplicates(subset = 'index', keep = 'last')

In [42]:
all_test_df[all_test_df['index'] == 'DTXSID5020075']

               index  TEST_prediction
19623  DTXSID5020075              0.0

In [43]:
all_test_df.set_index('index', inplace = True)

In [137]:


# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter(processed_dir+'TEST_genetox_150221.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
all_test_df.to_excel(writer, sheet_name='TEST_TSCA')

# Close the Pandas Excel writer and output the Excel file.
writer.save()

In [23]:
all_test_df = pd.read_excel(processed_dir+'TEST_genetox_150221.xlsx')

In [44]:
all_test_df.TEST_prediction.value_counts(dropna = False)

 0.0    14088
 1.0     2802
NaN      2733
Name: TEST_prediction, dtype: int64

In [45]:
all_test_df['aggregate_study_type'] = 'TEST_Mutagenicity'

In [46]:
all_test_df = all_test_df.reset_index()

In [47]:
all_test_df.columns = ['DTXSID','assay_outcome', 'aggregate_study_type']

In [48]:
all_test_df.head()

          DTXSID  assay_outcome aggregate_study_type
0  DTXSID2020004            1.0    TEST_Mutagenicity
1  DTXSID7020005            0.0    TEST_Mutagenicity
2  DTXSID2020006            0.0    TEST_Mutagenicity
3  DTXSID7020009            0.0    TEST_Mutagenicity
4  DTXSID6020010            0.0    TEST_Mutagenicity

#### Processing OECD Toolbox predictions

In [49]:
df_oecd = pd.read_excel(processed_dir+'TSCA_genetox_TB_out.xlsx')

In [50]:
df_oecd.shape

(19251, 11)

In [51]:
import re
p = re.compile(r'DTXSID\d{1,}')

In [52]:
dtxsid = [m.group(0) for l in df_oecd['Chemical name(s)'] for m in [p.search(l)] if m]

In [53]:
len(dtxsid)

19251

In [54]:
df_oecd['dtxsid'] = dtxsid

In [55]:
df_oecd.columns

Index(['Chemical name(s)',
       'Carcinogenicity (genotox and nongenotox) alerts by ISS',
       'DNA alerts for AMES, CA and MNT by OASIS', 'DNA binding by OASIS',
       'DNA binding by OECD', 'Oncologic Primary Classification',
       'Protein binding alerts for Chromosomal aberration by OASIS',
       'Protein binding by OASIS', 'Protein binding by OECD',
       'in vitro mutagenicity (Ames test) alerts by ISS',
       'in vivo mutagenicity (Micronucleus) alerts by ISS', 'dtxsid'],
      dtype='object')

In [56]:
df_oecd = df_oecd[['dtxsid','Carcinogenicity (genotox and nongenotox) alerts by ISS',
       'DNA alerts for AMES, CA and MNT by OASIS', 'DNA binding by OASIS',
       'DNA binding by OECD', 'Oncologic Primary Classification',
       'Protein binding alerts for Chromosomal aberration by OASIS',
       'Protein binding by OASIS', 'Protein binding by OECD',
       'in vitro mutagenicity (Ames test) alerts by ISS',
       'in vivo mutagenicity (Micronucleus) alerts by ISS']]

In [57]:
df_oecd.rename(columns = {'Carcinogenicity (genotox and nongenotox) alerts by ISS': 'Carc_ISS',
       'DNA alerts for AMES, CA and MNT by OASIS': 'DNA_Ames_CA_MNT_OASIS', 'DNA binding by OASIS': 'DNA_binding_OASIS',
       'DNA binding by OECD': 'DNA_binding_OECD', 'Oncologic Primary Classification': 'Oncologic',
       'Protein binding alerts for Chromosomal aberration by OASIS': 'Protein_binding_CA_OASIS',
       'Protein binding by OASIS': 'Protein_binding_OASIS', 'Protein binding by OECD': 'Protein_binding_OECD',
       'in vitro mutagenicity (Ames test) alerts by ISS': 'Ames_ISS',
       'in vivo mutagenicity (Micronucleus) alerts by ISS': 'MNT_ISS'}, inplace = True)

In [58]:
df_oecd_numeric = df_oecd.copy()

In [59]:
df_oecd_numeric.replace({'No alert found' :0, 'N/A': np.nan, 'Not classified' : 0}, inplace = True)

In [60]:
df_oecd_numeric.set_index('dtxsid', inplace = True)

In [61]:
df_oecd_numeric.replace({'\w+':1}, regex = True, inplace = True)

In [61]:



# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter(processed_dir+'OECD_Toolbox_genetox_150221.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
df_oecd_numeric.to_excel(writer, sheet_name='OECD_numeric_TSCA')
df_oecd.to_excel(writer, sheet_name='OECD_TSCA')

# Close the Pandas Excel writer and output the Excel file.
writer.save()

In [26]:
oecd = pd.read_excel(processed_dir+'OECD_Toolbox_genetox_150221.xlsx', sheet_name = 'OECD_numeric_TSCA')

In [28]:
oecd.head()

,dtxsid,Carc_ISS,DNA_Ames_CA_MNT_OASIS,DNA_binding_OASIS,DNA_binding_OECD,Oncologic,Protein_binding_CA_OASIS,Protein_binding_OASIS,Protein_binding_OECD,Ames_ISS,MNT_ISS
0,DTXSID2020004,0,0,0,0,1,0,0,0,0,0
1,DTXSID7020005,0,0,0,0,0,0,0,0,0,0
2,DTXSID2020006,1,0,0,0,1,1,0,1,1,1
3,DTXSID7020009,0,0,0,0,0,0,0,0,0,0
4,DTXSID6020010,0,0,0,0,1,0,0,0,0,0

In [62]:
#oecd = df_oecd_numeric.reset_index()

In [29]:
oecd  = oecd[['dtxsid', 'DNA_Ames_CA_MNT_OASIS', 'DNA_binding_OASIS',
       'DNA_binding_OECD',  'Protein_binding_CA_OASIS',
        'Ames_ISS', 'MNT_ISS']]

In [30]:
oecd.head()

,dtxsid,DNA_Ames_CA_MNT_OASIS,DNA_binding_OASIS,DNA_binding_OECD,Protein_binding_CA_OASIS,Ames_ISS,MNT_ISS
0,DTXSID2020004,0,0,0,0,0,0
1,DTXSID7020005,0,0,0,0,0,0
2,DTXSID2020006,0,0,0,1,1,1
3,DTXSID7020009,0,0,0,0,0,0
4,DTXSID6020010,0,0,0,0,0,0

In [65]:
toolbox_new_df = pd.melt(oecd, id_vars = ['dtxsid'], value_vars = [
 'DNA_Ames_CA_MNT_OASIS', 'DNA_binding_OASIS',
       'DNA_binding_OECD',  'Protein_binding_CA_OASIS',
        'Ames_ISS', 'MNT_ISS'])

In [66]:
toolbox_new_df.rename(columns = {'variable': 'aggregate_study_type', 'value': 'assay_outcome'}, inplace = True)

In [67]:
toolbox_new_df.set_index('dtxsid', inplace = True)

In [68]:
all_test_df.set_index('DTXSID', inplace = True)

In [69]:
insilico = pd.concat([toolbox_new_df, all_test_df ])

/home/gpatlewi/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=True'.

To retain the current behavior and silence the warning, pass sort=False

  """Entry point for launching an IPython kernel.

In [70]:
insilico.aggregate_study_type.unique()

array(['DNA_Ames_CA_MNT_OASIS', 'DNA_binding_OASIS', 'DNA_binding_OECD',
       'Protein_binding_CA_OASIS', 'Ames_ISS', 'MNT_ISS',
       'TEST_Mutagenicity'], dtype=object)

In [71]:
tag_sar = {'DNA_Ames_CA_MNT_OASIS': 'pAmes', 'DNA_binding_OASIS': 'pAmes',
       'DNA_binding_OECD': 'pAmes',  'Protein_binding_CA_OASIS': 'pclastogen',
        'Ames_ISS': 'pAmes', 'MNT_ISS': 'pclastogen', 'TEST_Mutagenicity': 'pAmes'}

In [72]:
insilico['simple_aggregate'] = insilico['aggregate_study_type']

In [73]:
insilico['simple_aggregate'].replace(tag_sar , inplace = True)

In [74]:
insilico.head()

                aggregate_study_type  assay_outcome simple_aggregate
DTXSID2020004  DNA_Ames_CA_MNT_OASIS            0.0            pAmes
DTXSID7020005  DNA_Ames_CA_MNT_OASIS            0.0            pAmes
DTXSID2020006  DNA_Ames_CA_MNT_OASIS            0.0            pAmes
DTXSID7020009  DNA_Ames_CA_MNT_OASIS            0.0            pAmes
DTXSID6020010  DNA_Ames_CA_MNT_OASIS            0.0            pAmes

In [159]:
# Create a Pandas Excel writer using XlsxWriter as the engine.
writer = pd.ExcelWriter('insilico_genetox_predictions_all_TSCA_150221.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
insilico.to_excel(writer, sheet_name='TSCA_insilico_all_numeric')

# Close the Pandas Excel writer and output the Excel file.
writer.save()